body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background: darkgrey;
}

#verticalButtons {
  display: flex;
  flex-direction: column;
}
button {
  border: none;
  border-radius: 5px;
  padding: 5px 5px 7px 5px;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.4s ease-out;
}
button:hover {
  background-color: aquamarine;
}

#networkCanvas {
  background: black;
}
#carCanvas {
  background: lightgray;
}